/* FONTS */
@font-face { src: url('/fonts/Alatsi-Regular.ttf'); font-family: alatsi; }
@font-face { src: url('/fonts/NewsCycle-Regular.ttf'); font-family: newscycle-regular; }
@font-face { src: url('/fonts/NewsCycle-Bold.ttf'); font-family: newscycle-bold; }

/* STYLES */
body { overflow-x: hidden; }
.frame-content { /*margin: 5px 0px;*/ }
.page-descriptor { margin: 10px 0px; border-radius: 50px; padding: 10px; text-transform: uppercase; font-family: newscycle-bold; }
.newslist-container a:link, .newslist-container a:visited { color: #000 !important; }
.newslist-container a:hover { text-decoration: none !important; color: #000 !important; }
.newslist-container .card { transition: 0.5s ease; height: 350px; margin-bottom: 20px; background: #fff;  }
.newslist-container .card:hover { box-shadow: 5px 5px 10px -5px grey; background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }
.btn-primary { background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); border: 0.5px solid #84fab0; }
.btn-primary:hover {  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); border: 0.5px solid #a6c0fe; }
.sidebar-row { font-size: 12px;}
.sidebar-row img { width: 100px; }
.sidebar-row .card { margin-bottom: 10px; }
.jobapply-btn { background: #FF6600; color: #fff; }
.header-logo { width: 100px;}
.hackernews-intro-img { width: 350px; margin: 20px 0px; }
h5.card-title {color: #776c6b; font-family: newscycle-bold; font-size: 26px; }
.card-footer { background: ##CEC4C2; }
.card-subtitle { font-size: 16px; font-family: newscycle-regular;}
.card-text { font-size: 16px; }
.comment-icon { width: 20px; }
.comments-count { margin: 0px 10px; }
.news-footer-container div { display: inline-block; margin: 0px 10px; }
footer { width: 100%; bottom: 0px !important; position: relative; text-align: center; margin-bottom: 20px;}
footer h6 { font-size: 16px; }
.page-container { text-align: center; width: 100%; }
.comment-row p { font-size: 12px; }
.comment-row:not(.parent-comment-row) .card { border: none; }
.comment-row .card .card-footer { border-left: 1px solid black; margin-right: -20px; margin-bottom: -10px; background: #fff; }
.comment-tag { margin: -10px 0px; width: 100%; text-align: center; }
.fancy-line { width: 100%; position: relative; height: 3px; background: linear-gradient(to right, #4a022b, #540037, #5c0045, #620055, #660067, #640472, #610c7e, #5b148a, #501c91, #422398, #2f299e, #042ea4); margin: 10px 0px; }
.loader-container { text-align: center; height: 83vh; }
.loader-container img { width: 400px; }
.scroll-to-top-btn { position: fixed; left: 95%; top: 85vh; font-size: 18px; }
.pixaBayImage { margin: 10px 0px; object-fit: cover; }
